<div id="schedule">
  <div id="tables">
    <% day.tables.each do |table| %>
      <div class="table">
      </div>
    <% end %>
  </div>
  <div id="bookings">
    <%# render bookings %>
  </div>
</div>
