@import "compass/css3/border-radius"

div#main_container
  width: 800px
  margin: 100px auto 0 auto
  background: blue

div#schedule
  height: 160px
  width: 660px
  margin: 0 auto
  background: green
  padding: 20px
  +border-radius(20px)
  div#tables
    float: left
    div.table
      height: 20px
  div#bookings
    float: left
    div.booking
      position: relative
      top: 120px
      width: 100px
      height: 10px
      background: red

form
  input.btn
    float: left

